<div class="text-center"><%=image_tag(@resource.image.url) %></div>
<h1><%= @resource.book_name %></h1>
<br />
<%= sanitize @resource.review %>

Categories: <%= @resource.tag_list %>

<div id="rating">
  Резил:
  <div id="star"></div>
</div><br />

<% if is_logged_in? %>
  <%= link_to 'Edit', edit_book_review_path(@resource), class: 'btn' %>
<% end %>

<hr />

<div id="comment_form">
  <% if @resource.errors.any? %>
    <% @resource.comments.last.errors.full_messages.each do |msg| %>
      <p class="alert alert-error" ><%= msg %></p>
    <% end %>
  <% end %>

  <p>Коментирай:</p>
  <%= form_for [@resource, Comment.new] do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 10, cols: 160 %>
    <br />
    <%= f.submit "Коментирай си" %>
  <% end %>
</div>

<% if @resource.comments.any? %>
  <% @resource.comments.each do |comment| %>
    <div class="comment">
      <b>От:</b> <%=comment.email %><br />
      <b>Коментар:</b> <%=comment.comment %><br />
      <% if is_logged_in? %>
        <%= link_to 'Изтрий гадината', book_review_comment_path(@resource, comment), method: :delete %>
      <% end %>
      <hr />
    </div>
  <% end %>
<% end %>

<script>
  $('#star').raty({
    number: 10,
    readOnly: true,
    score: <%=@resource.score %>,
    path: '/assets'
  });
</script>
