<%= link_to 'Edit', edit_book_review_path(@resource) %>
<h1><%= @resource.book_name %></h1>
<br />
<%= sanitize @resource.review %>
<div id="rating">
  Резил:
  <div id="star"></div>
</div><br />

<hr />

<div id="comment_form">
  <% if @resource.errors.any? %>
    <% @resource.comments.last.errors.full_messages.each do |msg| %>
      <p class="alert alert-error" ><%= msg %></p>
    <% end %>
  <% end %>

  <p>Коментирай:</p>
  <%= form_for [@resource, Comment.new] do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :comment %>
    <%= f.text_area :comment, rows: 10, cols: 40 %>
    <br />
    <%= f.submit "Коментирай си" %>
  <% end %>
</div>

<% if @resource.comments.any? %>
  <% @resource.comments.each do |comment| %>
    <div class="comment">
      От: <%=comment.email %>
      Коментар: <%=comment.comment %>
    </div>
  <% end %>
<% end %>

<script>
  $('#star').raty({
    number: 10,
    readOnly: true,
    score: <%=@resource.score %>,
    path: '/assets'
  });
</script>
