<!DOCTYPE html>
<html>
<head>
  <title>Bookhunterz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<%= nav_bar :static => :top  do %>
  <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Новини", book_news_index_path %>
        <%= menu_item "Ревюта", book_reviews_path %>
      <% end %>
      <%= form_tag search_path, class: "navbar-form navbar-search", method: :get do %>
           <%= text_field_tag :search, 'Search', :class => 'search-query' %>
          <%= button_tag "Search" %>
        <% end %>
      <%= menu_group :pull => :right do %>
      <% if is_logged_in? %>
        <%= drop_down "Admin" do %>
          <%= menu_item link_to 'Ново Ревю', new_book_review_path %>
          <%= menu_item link_to 'Нова новина', new_book_news_path %>
          <%= menu_item link_to 'Чупка!', logout_session_path, method: :delete %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
          <% end %>
        </div>
        <div class="span8" style="border-radius:5px;">
          <div id="header-image">
            <%=image_tag(header_image) %>
          </div>
          <div>
          <% if flash[:notice] %>
            <p class="alert alert-success"><%= flash[:notice] %></p>
          <% end %>
          <% if flash[:error] %>
            <p class="alert alert-error"><%= flash[:error] %></p>
          <% end %>
          </div>
          <%= yield %>
        </div>
        <div class="span10">
          <div class="fb-like-box" data-href="http://www.facebook.com/BookHunterz" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>
    </div>
</div>
</body>
</html>
