<!DOCTYPE html>
<html>
<head>
  <title>Bookhunterz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :static => :top  do %>
  <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Новини", book_news_index_path %>
        <%= menu_item "Ревюта", book_reviews_path %>
      <% end %>

    <%= menu_group :pull => :right do %>
      <% if is_logged_in? %>
        <%= drop_down "Admin" do %>
          <%= menu_item link_to 'Ново Ревю', new_book_review_path %>
          <%= menu_item link_to 'Нова новина', new_book_news_path %>
          <%= menu_item link_to 'Чупка!', logout_session_path, method: :delete %>
        <% end %>
      <% end %>
    <% end %>

    <% end %>
    <div class="container" style="margin-top: 40px;">
    <div>
      <% if flash[:notice] %>
        <p class="alert"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-error"><%= flash[:error] %></p>
      <% end %>
    </div>

    <div id="header-image">
      <%=image_tag(header_image) %>
    </div>

<%= yield %>
</div>
</body>
</html>
